<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>シンプル</title>
<link rel="stylesheet" media="all" href="css/ress.min.css" />
<link rel="stylesheet" media="all" href="css/style.css" />
<script src="javascripts/jquery-2.1.4.min.js"></script>
<script src="javascripts/style.js"></script>


<!-- Favicon -->
<link rel="icon" type="image/png" href="assets/favicon.png">
    
</head>
<body>
<header>    
<div class="container">
<div class="row">
    <div class="col span-12">
    <div class="head">
        <h1><a href="index.html">sample</a></h1>
		<div class="searchbox">検索窓&新規登録</div>
        </div>
    </div></div>
<div class="row">
    <div class="col span-12">
        <nav>
        <div id="open"><img src="assets/button.png"></div>
        <div id="close"><img src="assets/button2.png"></div>    
            <div id="navi">
        <ul>
            <li><a href="index.html">ホーム</a></li>
            <li><a href="subpage.html">店舗について</a></li>
            <li><a href="subpage.html">サブページ</a></li>
            <li><a href="subpage.html">サブページ</a></li>
            <li><a href="subpage.html">サブページ</a></li>
            <li><a href="subpage.html">お問い合わせ</a></li>
            </ul>
                </div>
        </nav>
    </div>
        </div>
    </div>
    </header>
    <div class="mainimg">
        <img src="assets/mainimg.jpg" alt="メイン画像">
        <!-- <img src="assets/1on.jpg" alt="メイン画像">
        <img src="assets/1.jpg" alt="メイン画像"> -->
    </div>
    <main>
<div class="container">
<div class="row">
    <div class="col span-8">
    <div class="news">
		<h2>新着情報</h2>
		<ul>
            <p>jQuery稼働テスト</p>
		    <li>20XX.1.1　ここに新着情報のテキストが入ります</li>
		    <li>20XX.1.1　ここに新着情報のテキストが入ります</li>
		    <li>20XX.1.1　ここに新着情報のテキストが入ります</li>
		</ul>	
		</div>
    </div>
	<div class="col span-4">
		<a href=""><img src="assets/banner.png" alt="バナー画像"></a>
	    <a href=""><img src="assets/banner.png" alt="バナー画像"></a>
	    <a href=""><img src="assets/banner.png" alt="バナー画像"></a>
	</div>
    </div>    
        </div>
    </main>
    <footer>
<div class="container">
<div class="row">
    <div class="col span-4">
        <h5>フッター１</h5>
        <p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
    </div>
    <div class="col span-4">
        <h5>フッター２</h5>
        <p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
    </div>
    <div class="col span-4">
        <h5>フッター３</h5>
        <p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
    </div>
        </div>
</div>
    </footer>
    <div class="copyright">
<div class="container">
<div class="row">
    <div class="col">
    Copyright © <a href="https://popo-design.net" target="_blank">popodesign. </a>
    
    </div>    
        </div>
    </div>
        </div>
<p id="pagetop"><a href="#">TOP</a></p>    
</body>
</html>